$border: 4px dashed gray;
html,
*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}
.title {
    padding-top: 1rem;
    margin: 0;
    color: darkcyan;
}
.main__textarea {
    width: 45rem;
    height: 15rem;
}

.btn[data="ArrowLeft"] {
    background-image: url(../img/arrow.png);
    transform: rotate(180deg);
    background-size: calc(100% - 5px);
    background-position: center center;
    background-repeat: no-repeat;
}
.btn[data="ArrowRight"] {
    background-image: url(../img/arrow.png);

    background-size: calc(100% - 5px);
    background-position: center center;
    background-repeat: no-repeat;
}
.btn[data="ArrowUp"] {
    background-image: url(../img/arrow.png);
    transform: rotate(270deg);

    background-repeat: no-repeat;
    background-size: calc(100% - 5px);
    background-position: center center;
}
.btn[data="ArrowDown"] {
    transform: rotate(90deg);
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: calc(100% - 5px);
    background-position: center center;
}

.btn[data="Backspace"] {
    grid-row: 1;
    grid-column: 14/16;
}
.btn[data="Enter"] {
    grid-column: 14/16;
}
.btn[data="Delete"] {
    grid-column: 15/16;
    grid-row: 2;
}
.btn[data="CapsLock"] {
    grid-column: 1/3;
    grid-row: 3;
}
.btn[data="ShiftLeft"] {
    grid-column: 1/3;
    grid-row: 4;
}
.btn[data="ShiftRight"] {
    grid-column: 14/16;
    grid-row: 4;
}
.btn[data="Space"] {
    grid-column: 4/11;
    width: 36.6rem;
}
.btn {
    min-width: 4.8rem;
    min-height: 4.8rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 67, 67);
    color: white;
    box-sizing: border-box;
    font-size: 1.8rem;
    //Запрет на выделение кнопки
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
    &:hover {
        background-color: mediumaquamarine;
        transition: 100ms;
    }
    &:active {
        border-radius: 100rem;
        transition: 100ms;
        background-color: rgb(0, 245, 53);
    }
}
.fn {
    @extend .btn;
    background-color: black;
}
.btn_active {
    background-color: rgb(0, 245, 53);
    border-radius: 100rem;
    transition: 100ms;
}
.keyboard {
    display: grid;
    grid-template-columns: repeat(15, minmax(4.8rem, auto));
    grid-template-rows: repeat(5, 4.8rem);
    grid-gap: 0.5rem 0.5rem;
    justify-content: center;
    justify-items: stretch;
    padding: 1rem;
    width: 81rem;
    min-height: 27.4rem;
    background-color: gainsboro;
    border: 2px solid gray;
    border-radius: 5px;
}
.hidden {
    display: none;
    position: absolute;
}
@media (max-width: 700px) {
    * {
        font-size: 0.8rem;
    }
    body {
        row-gap: 0.5rem;
    }
    .title {
        padding-top: 0.5rem;
        margin: 0;
        color: darkcyan;
    }
    .main__textarea {
        margin: 0 2rem;
        width: 22.5rem;
        height: 8rem;
    }
    .keyboard {
        display: grid;
        grid-template-columns: repeat(15, minmax(1.5rem, auto));
        grid-template-rows: repeat(5, 1.5rem);
        grid-gap: 1vmin;
        justify-content: center;
        justify-items: stretch;
        padding: 0.1rem;
        max-width: fit-content;
        min-height: fit-content;
        background-color: gainsboro;
        border: 2px solid gray;
        border-radius: 5px;
    }
    .btn {
        min-width: 1rem;
        min-height: 1rem;
        padding: 2px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(68, 67, 67);
        color: white;
        box-sizing: border-box;
        font-size: 1.8rem;
    }
    .btn[data="Space"] {
        grid-column: 4/11;
        width: auto;
    }
}
