$border: 4px dashed gray;
html,
*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__textarea {
    width: 45rem;
    height: 15rem;
}
h2 {
    color: green;
    border: $border;
}
.btn {
    min-width: 3rem;
    min-height: 3rem;
    width: max-content;
    height: max-content;
    // max-width:fit-content;
    padding: 5px;
    border: 2px solid rgb(39, 39, 39);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    box-sizing: border-box;
    &:hover {
        background-color: mediumaquamarine;
    }
}
.fn {
    @extend .btn;
    background-color: black;
}
.btn[data="ArrowLeft"] {
    background-image: url(../img/arrow.svg);
    transform: rotate(90deg);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.btn[data="ArrowRight"] {
    background-image: url(../img/arrow.svg);
    transform: rotate(270deg);
    background-size: contain;
    background-repeat: no-repeat;
   
}
.btn[data="ArrowUp"] {
    background-image: url(../img/arrow.svg);
    transform: rotate(180deg);
    background-size: contain;
    background-repeat: no-repeat;

}
.btn[data="ArrowDown"] {
    background-image: url(../img/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
   
}
.btn[data="Meta"]{
    background-image: url(../img/metaWindows.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.btn[data="Space"] {

    min-width: 15rem;
   
}
.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 52rem;
    height: 20rem;
    background-color: gainsboro;
    border: 2px solid gray;
    border-radius: 5px;
}
